@charset "utf-8";

/***公告***/
.notice{ width:1188px; height:30px; background:#f0f0f0; border:1px solid #e1e1e1; margin:15px auto 0px;}
.notice h1{ width:100px; line-height:30px; text-align:center; font-family:"微软雅黑"; font-size:14px; color:#3baae2; float:left;}
.txtMarquee-left{ width:525px; height:30px; position:relative; float:left; overflow:hidden;}
.txtMarquee-left .hd{ overflow:hidden;  height:30px;  padding:0 10px; float:left; }
.txtMarquee-left .hd .prev,.txtMarquee-left .hd .next{ display:block;  width:14px; height:13px; float:right; margin-right:5px; margin-top:8px;  overflow:hidden; cursor:pointer; background:url("../images/icoLeft.jpg") no-repeat;}
.txtMarquee-left .hd .next{ background:url("../images/icoRight.jpg") no-repeat;  }
.txtMarquee-left .bd{ line-height:30px; float:left; }
.txtMarquee-left .bd .tempWrap{ width:425px !important; }/* 用 !important覆盖SuperSlide自动生成的宽度，这样就可以手动控制可视宽度。 */
.txtMarquee-left .bd ul{ overflow:hidden; zoom:1; }
.txtMarquee-left .bd ul li{ margin-right:20px;  float:left; height:30px; line-height:30px;  text-align:left; _display:inline; width:auto !important;  }/* 用 width:auto !important 覆盖SuperSlide自动生成的宽度，解决文字不衔接问题 */
.txtMarquee-left .bd ul li span{ color:#999;  }

/***用户登录***/
.right269{ width:269px; display:block; overflow:hidden; float:right;}
.login span{ display:block; width:260px; line-height:25px; margin:0px; padding-left:9px;}
span.welcome{ font-size:16px; color:#666666; margin-top:15px;}
span.gksj{ font-size:14px; color:#666666;}
.win{ width:269px; height:26px; margin:15px 0px;}
.tiyan{ font-family:"微软雅黑"; width:269px; height:47px; line-height:47px; text-align:center; font-size:18px; font-weight:bold; margin-top:5px;}
.tiyan a{ display:block; background:url(../images/btn2.jpg) no-repeat; color:#fff;}
.tiyan a:hover{ background:url(../images/btnh2.jpg) no-repeat; color:#fff;}
.user{ width:269px; height:32px; font-size:14px; color:#888888; margin-top:30px;}
.password{ width:269px; height:32px; font-size:14px; color:#888888; margin-top:20px; margin-bottom:30px;}
.input1{ width:190px; height:30px; border:1px solid #dbdbdb; background:#fff; font-size:14px; color:#888888; padding-left:10px;}

/***简介***/
.jianjie{ font-family:"楷体";font-size:16px;line-height:25px;}
.column1{ width:100%; height:150px; background:#fff;}
.original{ width:1190px; height:150px; margin:15px auto;}
.oricolumn{ width:1190px; height:150px; float:left;}
.topvideo{ width:419px; height:333px; float:left; position:relative;}
.titleinfo{ width:419px; height:83px; background:url(../images/ycbg.png) repeat; position:absolute; bottom:0px; left:0;}
.titleinfo h1{ width:419px; line-height:25px; font-size:14px; font-weight:bold;}
.titleinfo h1 a{ color:#fff; padding-left:10px;}
.titleinfo h1 a:hover{ text-decoration:underline;}
.titleinfo .spxx{ width:419px; line-height:25px; color:#fff; font-size:12px;}
.titleinfo .spxx a{ color:#fff; padding-left:10px;}
.titleinfo .spxx a:hover{ text-decoration:underline;}
.titleinfo .price{ line-height:25px; font-size:18px; font-weight:bold;}
.titleinfo .price a{ color:#fff; padding-left:10px;}
.titleinfo .price a:hover{ text-decoration:underline;}
.sptime{ display:block; height:16px; line-height:16px; padding:0px 10px; text-align:center; color:#fff; background:url(../images/timebg.png) repeat-x; position:absolute; right:3px; bottom:93px;}
.play{ width:36px; height:27px; position:absolute; left:10px; bottom:98px;}
.play a{ display:block; width:36px; height:27px; background:url(../images/play.png) no-repeat; text-indent:-9999px;}

.splist{ width:449px; height:332px; float:right;}
.myvideo{ width:212px; height:158px; border:1px solid #e6e6e6; float:left;}
.myvideoimg{ width:212px; height:118px; position:relative;}
.myvideoimg h3{ width:205px; height:27px; line-height:27px; padding-left:7px; background:url(../images/timebg.png) repeat; position:absolute; bottom:0px; left:0;}
.myvideoimg h3 a{ font-size:12px; color:#fff; font-weight:bold;}
.myvideoimg h3 a:hover{ text-decoration:underline;}
.play1{ width:27px; height:19px; position:absolute; right:8px; bottom:5px;}
.play1 a{ display:block; width:27px; height:19px; background:url(../images/play1.png) no-repeat; text-indent:-9999px;}


/***人气班级***/
.classes{ width:1190px; height:330px; margin:0px auto 20px;}
.picScroll-left{ width:1190px; height:330px; overflow:hidden; position:relative;  }
.picScroll-left .change{ width:67px; height:23px; float:right; margin-right:10px; margin-top:20px;  background:url(../images/change.jpg) no-repeat; text-align:center; line-height:23px;}
.picScroll-left .change a{ color:#3daee7;}
.picScroll-left .hd{ height:50px; padding-right:10px; border-bottom:1px solid #d2d2d2;}
.picScroll-left .hd h1{ font-family:"微软雅黑"; width:100px; height:50px; padding-left:40px; background:url(../images/rqbj.jpg) left center no-repeat; line-height:50px; font-size:22px; color:#3daee7; text-align:center; border-bottom:2px solid #3daee7; float:left;}
.picScroll-left .hd ul{ float:right; overflow:hidden; zoom:1; margin-top:20px; zoom:1; }
.picScroll-left .hd ul li{ float:left;  width:9px; height:9px; overflow:hidden; margin-right:5px; text-indent:-999px; cursor:pointer; background:url("../images/icoCircle.gif") 0 -9px no-repeat; }
.picScroll-left .hd ul li.on{ background-position:0 0; }
.picScroll-left .bd{ padding:20px 0px 0px;}
.picScroll-left .bd ul{ overflow:hidden; zoom:1; }
.picScroll-left .bd ul li{ width:221px; height:257px; background:#f0f0f0; border:1px solid #e5e5e5; margin:0 6px; float:left; _display:inline; overflow:hidden; text-align:center;  }
.picScroll-left .bd ul li .pic{ text-align:center; }
.picScroll-left .bd ul li .pic img{ width:219px; height:192px; display:block; padding:1px;}
.picScroll-left .bd ul li .titlei span.classtitle{ display:block; width:219px; font-size:14px; line-height:24px; text-align:center;}
.picScroll-left .bd ul li .titlei span.classinfo{ display:block; width:219px; font-size:12px; color:#898989; line-height:20px; text-align:center;}
.picScroll-left .bd ul li .titlei span.classinfo a{ color:#3daee7;}
.picScroll-left .bd ul li .titlei span.classinfo a:hover{ text-decoration:underline;}


/***title***/
.title{ height:60px; font-family:"微软雅黑"; border-bottom:1px solid #d2d2d2;}
.title h1{ width:118px; height:60px; line-height:60px; font-size:22px; color:#3daee7; text-align:center; border-bottom:2px solid #3daee7; float:left;}
.title h2{ line-height:60px; font-size:16px; text-align:center; float:left;}
.title h2 a{ display:block; background:url(../images/line.jpg) right center no-repeat; padding:0px 15px 0px 15px; color:#666666; text-align:center;}
.title h2.hover{ background:url(../images/icon7.jpg) bottom center no-repeat; border-bottom:2px solid #3daee7;}
.title .change{ width:67px; height:23px; float:right; margin-right:10px; margin-top:20px;  background:url(../images/change.jpg) no-repeat; text-align:center; line-height:23px;}
.title .change a{ color:#3daee7;}

.title1{ font-family:"微软雅黑"; height:38px; line-height:38px; background:#e0e0e0; margin-top:25px;}
.title1 h1{ font-size:16px; color:#000000; padding-left:35px;}

.title2{ height:50px; font-family:"微软雅黑"; border-bottom:1px solid #d2d2d2;}
.title2 h1{ width:100px; height:50px; padding-left:40px; background:url(../images/ycjp.jpg) left center no-repeat; line-height:50px; font-size:22px; color:#3daee7; text-align:center; border-bottom:2px solid #3daee7; float:left;}
.title2 h2{ line-height:50px; font-size:16px; text-align:center; float:left; margin-left:20px;}
.title h2 a{ display:block; padding:0px 15px 0px 15px; color:#666666; text-align:center;}

.title3{ width:212px; height:40px; line-height:40px; background:#f0f0f0;}
.title3 .jiage{ float:left; padding-right:5px;}
.title3 .jiage a{ font-size:16px; color:#dc1f00; font-weight:bold;}
.title3 .jiage a:hover{ color:#000;}
.title3 .playtime{ float:left; color:#999999;}
.title3 .playtime a{ font-size:12px; color:#999999; padding-left:5px;}
.title3 .playtime a:hover{ text-decoration:underline; color:#dc1f00;}

.title4{ height:38px; line-height:38px;  margin-top:12px; font-family:"微软雅黑"; border-bottom:1px solid #d2d2d2;}
.title4 h1{ font-size:20px; padding-left:10px; color:#000000; float:left;}
.title4 h2{ font-size:12px; font-weight:bold; color:#e9590b; float:left; padding-left:5px;}

.title5{ height:50px; font-family:"微软雅黑"; border-bottom:1px solid #d2d2d2;}
.title5 h1{ width:118px; height:50px; line-height:50px; background:url(../images/xbt.jpg) left center no-repeat; padding-left:40px; font-size:22px; color:#3daee7; border-bottom:2px solid #3daee7; float:left;}
.title5 h2{ line-height:50px; font-size:16px; text-align:center; float:left;}
.title5 h2 a{ display:block; background:url(../images/line.jpg) right center no-repeat; padding:0px 15px 0px 15px; color:#666666; text-align:center;}
.title5 h2.hover{ background:url(../images/icon7.jpg) bottom center no-repeat; border-bottom:2px solid #3daee7;}

.title6{ height:50px; border-bottom:1px solid #d2d2d2;}
.title6 h1{ font-family:"微软雅黑"; width:100px; height:50px; padding-left:40px; background:url(../images/wtjd.jpg) left center no-repeat; line-height:50px; font-size:22px; color:#3daee7; text-align:center; border-bottom:2px solid #3daee7; float:left;}
.title6 .change{ width:67px; height:23px; float:right; margin-right:10px; margin-top:20px;  background:url(../images/change.jpg) no-repeat; text-align:center; line-height:23px;}
.title6 .change a{ color:#3daee7;}