@charset "utf-8";
body,div,hr,blockquote,ul,ol,li,table,th,td,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,input,button,select,textarea,fieldset,legend{margin:0;padding:0}
body{font-size:12px;color:#666666; background-color:#fff;font-family:Tahoma,Geneva,sans-serif,'宋体';}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
.clearfix{*zoom:1}
.clearfix:after{display:block;clear:both;content:".";visibility:hidden;height:0}
*+html img{-ms-interpolation-mode:bicubic}
.clearboth{ clear:both;}
ul,ol{list-style:none}
fieldset,img{border:0}
address,cite,dfn,em,var{font-style:normal}
strong,.fcu{font-weight:bold}
table{border-collapse:collapse;border-spacing:0}
button,.fhand{cursor:pointer}
button,input,select,textarea{font-size:100%;}
html{zoom:expression(function(ele){ele.style.zoom="1";document.execCommand("BackgroundImageCache",false,true)}(this))}


.clear {padding:0px 0px 0px 0px; margin:0px; clear:both;}
.clear1 {padding:5px 0px 5px 0px; clear:both; margin:0px;}
.clear2{ height:145px; clear:both; margin:0px;}
.fl{ float:left;} 
.fr{ float:right;}
.ml20{ margin-left:20px;}
.mb15{ margin-bottom:15px;}

/* ----- Links ----- */
a {text-decoration:none;color:#666;}
a:hover {color:#2f9def; text-decoration:none;}

/***header***/
.head{ width:100%; height:35px; border-bottom:1px solid #dfdfdf;}
.headm{ width:1190px; height:35px; margin:0 auto;}
.member{ display:block; float:left;}
.member .tuxiang{ width:35px; height:35px; float:left;}
.member .tuxiang img{ display:block; -moz-border-radius:50px; -webkit-border-radius:50px; float:left;}
.member .hyname{ line-height:35px; display:block; background:url(../images/down.jpg) right center no-repeat; float:left; padding:0px 15px;}
.member .hyname a{ color:#999999;}
.member .hyname a:hover{ color:#de1a77;}
.huiyuan{ width:200px; height:35px; line-height:35px; position:relative}
.huiyuan li a{ color:#999999;}
.huiyuan li a:hover{ color:#de1a77;}
.huiyuan li.hy1{ width:30px; background:url(../images/icon.jpg) left center no-repeat; float:left; padding-left:20px;}
.huiyuan li.hy2{ width:65px; background:url(../images/icon1.jpg) left center no-repeat; float:left; padding-left:25px;}

#header{ width:100%; height:170px; background:url(../images/tbg.jpg) repeat-x; display:block; min-width:1190px;border-bottom: 1px solid #dfdfdf; }
#header .top{ width:100%; height:170px; background:url(../images/tline.jpg) bottom center no-repeat;}
#header .topmain{ width:1190px; height:170px; margin:0 auto;}
#header .topmain .searchbox{ width:1190px; height:90px;}
.so_so{ width:857px; height:90px; float:left;}
#header .logo{ width:220px; height:90px; float:left;}
.mk_so{ width:602px; height:54px; margin-top:27px; margin-left:35px; float:left; overflow:hidden;}
.topmenu{ width:303px; height:90px; float:right; position:relative;}
.topmenu .xsyd{ width:303px; height:35px; background:url(../images/xsyd.jpg) right no-repeat; text-align:right; margin-top:10px;}
.topmenu .xsyd a{ font-family:"微软雅黑"; font-size:14px; color:#383838; font-weight:bold; line-height:35px; padding-right:45px;}
.topmenu .xsyd a:hover{ color:#3aa9e1;}
.hylist{ height:28px; margin-top:15px; font-family:"微软雅黑"; font-size:13px;}
.hylist li{ float:left; display:block; line-height:28px;}
.hylist li.li1{ width:30px; background:url(../images/icon.jpg) left center no-repeat; float:left; padding-left:20px;}
.hylist li.li2{ width:65px; background:url(../images/icon1.jpg) left center no-repeat; float:left; padding-left:25px;}
.hylist li.li2 a{ color:#3aa9e0;}
.hylist li.li3{ width:60px; background:url(../images/icon2.jpg) left center no-repeat; float:left; padding-left:20px;}
.hylist li.li4{ width:60px; background:url(../images/icon3.jpg) left center no-repeat; float:left; padding-left:20px;}
.hylist li.lion{ float:left;}
.hylist li.lion a.hyimg img{ display:block; -moz-border-radius:50px; -webkit-border-radius:50px; float:left;}

.kjnav{ display:block; float:right; margin-right:40px;}
.kjnav li{ height:35px; line-height:35px; display:block; float:left; margin-left:10px;}
.kjnav li a{ font-size:12px; color:#999999;}
.kjnav li a:hover{ color:#de1a77;}
.kjnav li.navli1{ background:url(../images/app.jpg) left center no-repeat; padding-left:20px;}
.kjnav li.navli2{ background:url(../images/sc.jpg) left center no-repeat; padding-left:20px;}
.kjnav li.navli3{ background:url(../images/xs.jpg) left center no-repeat; padding-left:20px;}

.topnavmenu{ width:1190px; height:60px; margin-top:15px;}
.nav{ width:855px; height:60px; float:left;}
.nav li{ width:93px; line-height:60px; float:left; text-align:center; font-family:"微软雅黑"; font-size:16px;}
.nav li a{ color:#444444;}
.nav li a:hover,.nav li a.on{ color:#29a3e0;}
.question{ width:300px; height:60px; float:right;}
.question li{ width:100px; height:60px; line-height:60px; float:left;}
.question li a{color:#444444;}
.question li.li5 a{ display:block; background:url(../images/icon4.jpg) left center no-repeat; padding-left:40px;}
.question li.li6 a{ display:block; background:url(../images/icon5.jpg) left center no-repeat; padding-left:40px;}
.question li.li7 a{ display:block; background:url(../images/icon6.jpg) left center no-repeat; padding-left:40px;}

/**font***/
.f_red{ color:#ea0023;}
.f_blue{ color:#3daee7;}
.f_black{ color:#929192;}


/***form***/
.input{ width:435px; height:50px; border:2px solid #b7b7b7; border-right:0 none; background:url(../images/so.jpg) left center no-repeat;  padding-left:33px; line-height:50px; font-family:"微软雅黑"; font-size:14px; color:#555555; float:left;}
.btn{ width:97px; height:50px; float:left;}



